.userInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.userProfile {
  border-radius: 50%;
}

.userName {
  color: #12022f;
  font-size: 30px;
}

.userDesc {
  color: #616e7c;
  font-weight: 500;
  font-size: 25px;
}
