.destination-item {
  list-style-type: none;
  width: 180px;
  margin: 15px;
  text-align: center;
}

.destination-img {
  width: 100%;
  border-radius: 10px;
}

.destination-name {
  font-family: 'Roboto';
  color: #0f172a;
  font-size: 16px;
  margin-top: 10px;
}
