* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-container {
  background-color: #9ba9eb;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  padding: 25px 40px;
  font-family: Roboto;
}

.first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #5763a5;
  padding: 30px 50px;
  margin: 20px 0px;
  border-radius: 20px;
}

.form-container {
  background-color: #454f84;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 25px;
  color: white;
}

.input-wrapper {
  position: relative;
  width: 350px;
  margin: 10px 0;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  pointer-events: none;
}

.input-field {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 14px;
}

.button-container {
  text-align: right;
}

.button-add {
  background-color: #0b69ff;
  border-radius: 10px;
  border: 0px;
  color: white;
  padding: 10px 20px;
}

.header-password-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.span {
  border: 1px solid white;
  border-radius: 20px;
  padding: 2px 20px;
}

.show-password-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.show-password {
  color: white;
}

.result-no-password {
  color: white;
  font-size: 25px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 15px;
}

.list-profile-img {
  background-color: aqua;
  color: white;
  border-radius: 50%;
  border: 0px;
  text-align: center;
  padding-top: 27px;
  width: 100px;
  height: 100px;
}

.list-text-container {
  margin: 0px 10px;
}

.list-webiste {
  font-size: 25px;
  font-weight: 500;
}

.list-username {
  font-size: 20px;
  font-weight: 400;
}

.list-password {
  font-size: 20px;
  font-weight: 500;
}
