.background-container {
  background: linear-gradient(to top, #9796f0, #fbc7d4);
  background-size: cover;
  height: 100vh;
  padding: 50px 100px;
  font-family: Roboto;
}

.card-container {
  background-color: white;
  border-radius: 20px;
  margin: 20px 50px;
  padding: 30px 50px;
}

.first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading {
  font-size: 30px;
  font-weight: 700;
}

.text-label {
  display: block;
  margin: 10px 0px;
  color: #53545c;
  font-weight: bold;
}

.text-input {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-family: Roboto;
  font-size: 15px;
}

.date-label {
  display: block;
  margin: 10px 0px;
  color: #53545c;
  font-weight: bold;
}

.date-input {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-family: Roboto;
  font-size: 15px;
}

.button {
  background-color: #8b5cf6;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  border: 0px;
}

.second-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unStarred-button {
  border: 2px solid #9897f0;
  background-color: transparent;
  color: #9796f0;
  border-radius: 20px;
  text-align: center;
  padding: 8px 16px;
  font-weight: bold;
}

.unStarred-button.active {
  border: 0px;
  background-color: #9796f0;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 8px 16px;
  font-weight: bold;
}

.appointment-container {
  display: flex;
  flex-wrap: wrap;
}

.list {
  list-style-type: none;
}
