.background-container {
  background-color: white;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

.first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 100px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 50px;
  margin: 20px 40px;
  color: #1e293b;
}

.form {
  font-family: Roboto;
  margin: 10px 40px;
}

.label {
  display: block;
  margin: 20px 0px;
  font-weight: 500;
  font-family: Roboto;
  font-size: 20px;
  color: #475569;
}

.input-name {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #475569;
  color: black;
  margin: 10px 0px;
  display: block;
  width: 345px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
}

.input-comment {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #475569;
  color: black;
  margin: 10px 0px;
  display: block;
  width: 345px;
  height: 150px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
}

.button {
  background-color: #0284c7;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-family: Roboto;
  padding: 15px;
  text-align: center;
}

.comment-img {
  margin-right: 100px;
  margin-top: 100px;
}

.horizontal-line {
  margin: 20px 140px;
}

.second-container {
  margin: 20px 140px;
}

.count-value {
  background-color: #0284c7;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: inline;
  color: white;
  font-family: Roboto;
  font-weight: 500;
}

.commnet-text {
  display: inline;
  font-family: Roboto;
  font-weight: 500;
  color: #475569;
  margin: 0px 10px;
}

.list {
  list-style-type: none;
}
