.blog-item-details-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family: Roboto, sans-serif;
}

.blog-details-title {
  font-size: 28px;
  color: #000000;
  text-align: center;
  margin-bottom: 25px;
}

.blog-details-author-section {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.blog-details-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 12px;
}

.blog-details-author {
  font-size: 16px;
  color: #2f4f4f;
  font-weight: 500;
}

.blog-details-image {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 25px;
}

.blog-details-content {
  font-size: 16px;
  color: #2f4f4f;
  line-height: 1.6;
}
