.filters-group-container {
  margin-top: 16px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
    padding: 0px;
  }
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 32px;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  font-family: 'Roboto';
  font-size: 14px;
  color: #0f172a;
}

.search-input::placeholder {
  color: #64748b;
}

.search-icon {
  color: #475569;
  font-size: 16px;
  cursor: pointer;
}

.category-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .category-heading {
    font-size: 20px;
  }
}

.categories-list {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 0px;
}

.category-item {
  margin-bottom: 16px;
  cursor: pointer;
}

.category-name {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .category-name {
    font-size: 16px;
  }
}

.active-category-name {
  color: #0967d2;
  font-weight: 500;
}

.rating-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .rating-heading {
    font-size: 20px;
  }
}

.ratings-list {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 0px;
}

.rating-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.rating-image {
  width: 140px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .rating-image {
    width: 160px;
  }
}

.and-up {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .and-up {
    font-size: 16px;
  }
}

.active-rating {
  color: #0967d2;
  font-weight: 500;
}

.clear-filters-btn {
  background-color: transparent;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #0967d2;
  border-radius: 6px;
  padding: 10px 24px;
  margin-top: 24px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .clear-filters-btn {
    font-size: 16px;
    padding: 12px 32px;
  }
}

.clear-filters-btn:hover {
  background-color: #0967d2;
  color: #ffffff;
}