.blog-item {
  margin-bottom: 24px;
  margin: 10px 100px;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  color: #12022f;
  font-size: 20px;
  font-family: Roboto;
}

.blog-date {
  color: #9aa5b1;
  font-size: 14px;
  font-family: Roboto;
}

.blog-description {
  color: #616e7c;
  font-size: 16px;
  font-family: Roboto;
}
