.nav-header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-bottom: 1px solid #d7dfe9;
}

.nav-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-logo {
  width: 150px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #475569;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}

.nav-link li {
  display: inline;
}

.logout-desktop-btn {
  display: none;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline: none;
}

.logout-desktop-btn:hover {
  background-color: #0967d2;
}

.logout-mobile-btn {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.logout-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .logout-desktop-btn {
    display: block;
    height: 50px;
  }

  .logout-mobile-btn {
    display: none;
  }
}
