.event-item {
  width: calc(50% - 16px);
}

.event-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  outline: none;
}

.event-image {
  width: 100%;
  border-radius: 8px;
  transition: opacity 0.3s;
}

.event-button:hover .event-image {
  opacity: 0.8;
}

.active-event-item .event-image {
  border: 2px solid #2dd4bf;
}

.event-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: 'Roboto';
}

.event-location {
  color: #64748b;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto';
}